*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg,rgb(12,12,67),rgb(30,70,80));
    color: #fff;
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

form button{
    color: rgb(30,70,80);
    background: #fff;
    cursor: pointer;
    transition: all .3s ease-in;
}

form button:hover{
    background: rgb(30,70,80);
    color: #fff;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    background: #fff;
    padding-left: 5px;
    color: #000016;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in;
    margin: 10px 0;
}
.todo li {
    flex: 1;
}

.trashed-btn,.complete-btn{
    background: rgb(30,70,80);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
}
.complete-btn{
    background:rgb(30,70,80);
}
.trashed-btn{
    background: brown;
}
.todo-item{
    padding: 0 .5rem;
}

.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotate(30deg);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(30,70,80);
    width: 10rem;
    cursor: pointer;
    padding: .9rem;
    font-size: 16px;
}

.select::after{
    content: "\25BC";
    position: absolute;
    top: 0;right: 0;
    padding: 1rem;
    background: brown;
    pointer-events: none;
    transition:all .4s ease-in;
}

.select:hover::after{
    background: #fff;
    color: rgb(30,70,80);
}



@media  screen and (max-width:800px) {
    html,body{
        overflow-x: hidden;
    }
    .todo-list{
        min-width: 50%!important;
    }
}
@media  screen and (max-width:450px) {
    header h1 {
        font-size: 24px;
    }
    form{
     flex-direction: column-reverse;
     position: relative;
     width: 80%;
     margin: auto;
    }
    form button{
     position: absolute;
     right: 0%;
     bottom: 3.3%;
     padding: .4rem;
    }
    .searchbox{
        position: relative;
        width: 100%;
    }
    .todo-input{
        width: 100%;
    }
    .select{
        width: 100%;
    }
    select{
        display: block;
        width: 100%;
    }
    .todo-list{
        width: 90%;
    }
 }